<div class="col-12">
<div class="col-8">
  <table class="table table-striped">
    <tr>
      <td width="200" align="right" style="font-weight: bold ;">Numara :</td><td >{{ogrenci.employeeId}}</td></tr>
    <tr>
      <td align="right" style="font-weight: bold">Adı :</td><td >{{ogrenci.firstName}}</td></tr>
    <tr>
      <td align="right" style="font-weight: bold;">Soyadı :</td><td >{{ogrenci.lastName}}</td></tr>
    <tr>
      <td align="right" style="font-weight: bold">Email :</td><td>{{ogrenci.email}}</td></tr>
    <tr>
      <td align="right" style="font-weight: bold">Telefon Numarası :</td><td >{{ogrenci.phoneNumber}}</td>
    </tr>
  </table>
</div>
</div>
