

<div class="col-6">
  <table class="col-12 table table-striped">
    <tr>
      <td class="col-6" align="right"><h1>Öğrenci Bilgileri</h1></td>
      <td class="col-6"></td>
    </tr>
    <tr>
      <td><b>Numara :</b></td>
      <td>{{ogrenci.employeeId}}</td>
    </tr>
    <tr>
      <td><b>Adı :</b></td>
      <td>{{ogrenci.firstName}}</td>
    </tr>
    <tr>
      <td><b>Soyadı :</b></td>
      <td >{{ogrenci.lastName}}</td>
    </tr>
    <tr>
      <td><b>Email :</b></td>
      <td>{{ogrenci.email}}</td>
    </tr>
    <tr>
      <td><b>Telefon Numarası :</b></td>
      <td >{{ogrenci.phoneNumber}}</td>
    </tr>
  </table>
</div>
