<p>ogrenci-guncelleme works!</p>
<table>
  <tr style="font-weight: bold">
    <td >Numara</td>
    <td>Adı</td>
    <td>Soyadı</td>
    <td>Email</td>
    <td>Telefon Numarası</td>
  </tr>
  <tr>
    <td >{{ogrenci.employeeId}}</td>
    <td ><input type="text" name="firstName"  [(ngModel)]="ogrenci.firstName" value="{{ ogrenci.firstName }}" [maxLength]="25"></td>
    <td ><input type="text" name="lastName"  [(ngModel)]="ogrenci.lastName" value="{{ ogrenci.lastName }}" [maxLength]="25"></td>
    <td><input type="text" name="email"  [(ngModel)]="ogrenci.email" value="{{ ogrenci.email }}" [maxLength]="25"></td>
    <td><input type="text" name="phoneNumber"  [(ngModel)]="ogrenci.phoneNumber" value="{{ ogrenci.phoneNumber }}" [maxLength]="20"></td>
  </tr>
  <tr>
    <td><input type="button"  (click)="updateEmployee()" value="Güncelle" /></td>
    <td></td>
  </tr>
</table>
