
<h1>Öğrenci Listesi</h1>


<table>
  <tr>
    <td><input  type="text" [(ngModel)]="ogrenciFilter.firstName" ></td>
    <td><input  type="text" [(ngModel)]="ogrenciFilter.lastName" ></td>
    <td><input  type="text" [(ngModel)]="ogrenciFilter.email"  ></td>
    <td><button name="btnSearch" value="Ara" (click)="sorgulamaYap()">Ara</button></td>
    <td><button name="btnClean" value="Ara" (click)="temizle()">Temizle</button></td>
  </tr>
</table>

<table>
  <tr style="font-weight: bold">
    <td >Numara</td>
    <td>Adı</td>
    <td>Soyadı</td>
    <td>Email</td>
    <td>Telefon Numarası</td>
    <td>Guncelle</td>
    <td>Sil</td>
  </tr>
  <tr *ngFor="let ogrenci of ogrenciList" >
    <td> {{ ogrenci.employeeId }}</td>
    <td>{{ ogrenci.firstName }}</td>
    <td>{{ ogrenci.lastName }}</td>
    <td>{{ ogrenci.email }}</td>
    <td>{{ ogrenci.phoneNumber }}</td>
    <td><a routerLink="/ogrenci-guncelleme/{{ogrenci.employeeId}}" >
      <button name="btnUpdate" value="Guncelle" >Guncelle</button></a></td>
    <td> <button name="btnDelete" value="Sil" (click)="deleteUser(ogrenci)">Sil</button></td>
  </tr>
</table>




